$primary: pink;
$modal-backdrop-bg: orange;

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
$custom-theme-colors: (
    "maincolor": red,
    "other": purple

);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


